@using Model
@using Model.Interfaces
@using Services
@using Syncfusion.Blazor.DropDowns

@inject TradeCalculationResult tradeCalculationResult
@inject DividendCalculationResult dividendCalculationResult
@inject YearOptions years
@inject YearOptions yearOptions

<div class="mt-4">
    <h4>Select Tax Year(s)</h4>
    <p class="text-muted">
        <i>For example, selecting <b>2023</b> covers the period 6 April 2023 to 5 April 2024.</i>
    </p>
    <SfMultiSelect @bind-Value="yearOptions.SelectedOptions"
                   Placeholder="Select Years"
                   Mode="VisualMode.CheckBox"
                   ShowSelectAll=true
                   SelectAllText="Select All"
                   UnSelectAllText="Unselect All"
                   DataSource=@yearOptions.Options>
        <MultiSelectFieldSettings Text="Years" Value="Years">
        </MultiSelectFieldSettings>
    </SfMultiSelect>
</div>

<div class="mt-4">
    <h3 class="mb-3">Tax Summary:</h3>
    <p>Number of disposals: @tradeCalculationResult.GetNumberOfDisposals(years.SelectedOptions)</p>
    <p>Total Disposal Proceed: @tradeCalculationResult.GetDisposalProceeds(years.SelectedOptions)</p>
    <p>Total Allowable Cost: @tradeCalculationResult.GetAllowableCosts(years.SelectedOptions)</p>
    <p>Total Gain: @tradeCalculationResult.GetTotalGain(years.SelectedOptions)</p>
    <p>Total Loss: @tradeCalculationResult.GetTotalLoss(years.SelectedOptions)</p>
    <p>Total Dividend: @dividendCalculationResult.GetTotalDividend(years.SelectedOptions)</p>
    <p>Total Foreign Witholding Tax Paid: @dividendCalculationResult.GetForeignTaxPaid(years.SelectedOptions)</p>
</div>


@code{
    [Parameter] public int ShouldReRender { get; set; }

    private int _lastVersion;

    protected override void OnParametersSet()
    {
        if (ShouldReRender != _lastVersion)
        {
            _lastVersion = ShouldReRender;
            StateHasChanged();
        }
    }
}
