@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.Services
@inherits TaxCalculationRefreshComponentBase

@inject TaxYearReportService _taxYearReportService

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Tax Year Capital Gain Report</h3>
        </div>
    </div>

    <div class="row mt-3 me-3">
        <div class="col">
            <RadzenDataGrid @ref="taxYearReportGrid" TItem="TaxYearCgtReport" Data="@_taxYearReports"
                            AllowPaging="true" PageSize="25" PageSizeOptions="@_pageSizeOptions"
                            AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Advanced"
                            AllowColumnResize="true" class="w-100">
                <Columns>
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.TaxYear)" Title="Tax Year" TextAlign="TextAlign.Right" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.TotalGainInYear)" Title="Total Gain in Year" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.TotalLossInYear)" Title="Total Loss in Year" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.NetCapitalGain)" Title="Net Gain in Year" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.CapitalGainAllowance)" Title="Capital Gain Allowance" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.CgtAllowanceBroughtForwardAndUsed)" Title="CGT Allowance Brought Forward and Used" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.TaxableGainAfterAllowanceAndLossOffset)" Title="Taxable Gain After Allowance and Loss Offset" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                    <RadzenDataGridColumn TItem="TaxYearCgtReport" Property="@nameof(TaxYearCgtReport.LossesAvailableToBroughtForward)" Title="Losses Available to Brought Forward" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    private RadzenDataGrid<TaxYearCgtReport>? taxYearReportGrid;
    private List<TaxYearCgtReport> _taxYearReports = [];
    private readonly int[] _pageSizeOptions = { 25, 50, 100 };

    protected override void RefreshData()
    {
        _taxYearReports = _taxYearReportService.GetTaxYearReports().ToList();
    }

    protected override Task RefreshRenderedGridsAsync() => RefreshGridAsync(taxYearReportGrid);
}
