@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.ViewModel
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.Interfaces
@using InvestmentTaxCalculator.Enumerations
@using System.Globalization
@using InvestmentTaxCalculator.Services
@inherits TaxCalculationRefreshComponentBase

@inject IDividendLists _dividendList

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Imported Dividends and Withholding Taxes</h3>
        </div>
    </div>

    <div class="row mt-3 me-3">
        <div class="col">
            <RadzenDataGrid @ref="importedDividendGrid" TItem="DividendViewModel" Data="@_dividendViewModels"
                            AllowPaging="true" PageSize="25" PageSizeOptions="@_pageSizeOptions"
                            AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Advanced"
                            AllowColumnResize="true" class="w-100">
                <Columns>
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.Date)" Title="Date" FormatString="{0:d}" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.DividendType)" Title="Dividend/Withholding Tax" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.AssetName)" Title="Asset Name" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.CompanyLocaton)" Title="Company Location" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.SterlingAmount)" Title="Sterling Amount" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.Currency)" Title="Currency" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.LocalCurrencyAmount)" Title="Local Currency Amount" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.ExchangeRate)" Title="Exchange Rate" />
                    <RadzenDataGridColumn TItem="DividendViewModel" Property="@nameof(DividendViewModel.Description)" Title="Description" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    private RadzenDataGrid<DividendViewModel>? importedDividendGrid;
    private List<DividendViewModel> _dividendViewModels = [];
    private readonly int[] _pageSizeOptions = { 25, 50, 100 };

    protected override void RefreshData()
    {
        _dividendViewModels = _dividendList.Dividends.Select(dividend => new DividendViewModel(dividend)).ToList();
    }

    protected override Task RefreshRenderedGridsAsync() => RefreshGridAsync(importedDividendGrid);
}
