@using Model.Interfaces
@using Syncfusion.Blazor.Inputs
@using Microsoft.AspNetCore.Components.Forms
@using Model
@using Parser
@using Services

@inject TaxEventLists taxEventLists
@inject FileParseController fileParseController
@inject ToastService toastService

<div class="container bg-dark text-light p-3">
    <h2 class="mb-3">Import and Export</h2>

    <div class="mb-4">
        <h4>Load Options</h4>
        <AssetTypeToLoad></AssetTypeToLoad>
    </div>

    <div class="mb-4">
        <h4>Import Files</h4>
        <div class="p-2">
            <SfUploader AutoUpload="false">
                <UploaderEvents ValueChange="LoadFiles"></UploaderEvents>
            </SfUploader>
        </div>
    </div>

    <div class="mb-4">
        <h4>Import Folders</h4>
        <div class="p-2">
            <SfUploader ID="UploadFiles" AutoUpload=false DirectoryUpload=true>
                <UploaderEvents ValueChange="LoadFiles"></UploaderEvents>
            </SfUploader>
        </div>
    </div>

    <div class="mt-4 p-2">
        <p>Number of tax events: @taxEventLists.GetTotalNumberOfEvents()</p>
        <p>Number of dividends imported: @taxEventLists.Dividends.Count</p>
        <p>Number of trades imported: @taxEventLists.Trades.Count</p>
        <p>Number of corporate actions imported: @taxEventLists.CorporateActions.Count</p>
        <p>Number of future contract trades imported: @taxEventLists.FutureContractTrades.Count</p>
        <p>Number of option trades imported: @taxEventLists.OptionTrades.Count</p>
        <p>Number of cash settlement imported: @taxEventLists.CashSettlements.Count</p>
    </div>
</div>


@code {
    private async Task LoadFiles(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            try
            {
                taxEventLists.AddData(await fileParseController.ReadFile(file.File));
            }
            catch (ParseException ex)
            {
                toastService.ShowError(ex.Message);
            }
            catch (Exception ex)
            {
                toastService.ShowError($"An unexpected error have occurred.\n {ex.Message}");
            }
        }
        args.Files.Clear();
    }
}
