@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Enumerations
@using System.Collections.Generic
@using System.Linq

@inject TaxEventLists _taxEventLists
<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Interest Income List</h3>
            <p class ="alert alert-warning mb-0">
                Accrued income profit/loss is taxable at next coupon payable date. The system automatically determines if the next payment date
                falls within this tax year (checkbox checked) or the next tax year (checkbox unchecked) based on future bond payments. You can manually override this if needed.</p>
        </div>
    </div>
    <RadzenDataGrid TItem="InterestIncome" Data="@_taxEventLists.InterestIncomes" AllowPaging="true" PageSize="25"
                    PageSizeOptions="@_pageSizeOptions" AllowSorting="true" AllowColumnResize="true" class="w-100">
        <Columns>
            <RadzenDataGridColumn TItem="InterestIncome" Property="@nameof(InterestIncome.Id)" Title="ID" Width="80px" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="InterestIncome" Property="@nameof(InterestIncome.AssetName)" Title="Asset" />
            <RadzenDataGridColumn TItem="InterestIncome" Property="@nameof(InterestIncome.Date)" Title="Date" FormatString="{0:d}" />
            <RadzenDataGridColumn TItem="InterestIncome" Title="Type" Sortable="false">
                <Template Context="income">@income.InterestType.GetDescription()</Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InterestIncome" Property="Amount.Description" Title="Description" />
            <RadzenDataGridColumn TItem="InterestIncome" Title="Local Currency Amount" TextAlign="TextAlign.Right" Sortable="false">
                <Template Context="income">@income.Amount.Amount</Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InterestIncome" Title="Sterling Amount" TextAlign="TextAlign.Right" Sortable="false">
                <Template Context="income">@income.Amount.BaseCurrencyAmount</Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InterestIncome" Title="Next coupon payable in the same tax year" Sortable="false">
                <Template Context="income">
                    @if (income.InterestType is InterestType.ACCURREDINCOMEPROFIT or InterestType.ACCURREDINCOMELOSS)
                    {
                        <RadzenCheckBox TValue="bool" Value="income.IsNextPaymentInSameTaxYear"
                                        Change="@(v => OnNextPaymentChanged(income, v))" />
                    }
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

@code {
    private readonly int[] _pageSizeOptions = { 25, 50, 100 };

    private async Task OnNextPaymentChanged(InterestIncome income, bool value)
    {
        income.IsNextPaymentInSameTaxYear = value;
        await InvokeAsync(StateHasChanged);
    }
}
