@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.Model.TaxEvents
@using Syncfusion.Blazor.Grids
@using System.Collections.Generic
@using System.Linq

@inject TaxEventLists _taxEventLists
<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Interest Income List</h3>
            <p class ="alert alert-warning mb-0">
                Accurred income profit/loss is taxable at next coupon payable date. The system automatically determines if the next payment date
                falls within this tax year (checkbox checked) or the next tax year (checkbox unchecked) based on future bond payments. You can manually override this if needed.</p>
        </div>
    </div>
    <SfGrid TValue="InterestIncome" DataSource="@_taxEventLists.InterestIncomes" AllowPaging="true" AllowSorting="true" Width="100%">
        <GridPageSettings PageSizes=@(new List<int>() { 25, 50, 100 }) PageSize="25"></GridPageSettings>
        <GridColumns>
            <GridColumn Field="@nameof(InterestIncome.Id)" HeaderText="ID" Width="80" TextAlign="TextAlign.Right" IsPrimaryKey="true"></GridColumn>
            <GridColumn Field="@nameof(InterestIncome.AssetName)" HeaderText="Asset" TextAlign="TextAlign.Left"></GridColumn>
            <GridColumn Field="@nameof(InterestIncome.Date)" HeaderText="Date" Type="ColumnType.Date" Format="d"></GridColumn>
            <GridColumn Field="@nameof(InterestIncome.InterestType)" HeaderText="Type" Template="TypeTemplate"></GridColumn>
            <GridColumn Field="@(nameof(InterestIncome.Amount) + "." + nameof(DescribedMoney.Description))" HeaderText="Description"></GridColumn>
            <GridColumn Field="@(nameof(InterestIncome.Amount) + "." + nameof(DescribedMoney.Amount))" SortComparer="new InterestIncomeComparer()"
                        HeaderText="Local Currency Amount" TextAlign="TextAlign.Right"></GridColumn>
            <GridColumn Field="@(nameof(InterestIncome.Amount) + "." + nameof(DescribedMoney.BaseCurrencyAmount))" SortComparer="new InterestIncomeComparer()"
            HeaderText="Sterling Amount" TextAlign="TextAlign.Right"></GridColumn>
            <GridColumn Field="@nameof(InterestIncome.IsNextPaymentInSameTaxYear)" HeaderText="Next coupon payable in the same tax year" Template="@CheckboxTemplate">
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    public IEnumerable<InterestIncome> InterestIncomeList => _taxEventLists.InterestIncomes;

    private SfGrid<InterestIncome> interestIncomeGrid = new();

    public class InterestIncomeComparer : IComparer<Object>
    {
        public int Compare(object? XRowDataToCompare, object? YRowDataToCompare)
        {
            InterestIncome? XRowData = XRowDataToCompare as InterestIncome;
            InterestIncome? YRowData = YRowDataToCompare as InterestIncome;
            if (XRowData == null || YRowData == null)
            {
                return 1;
            }
            decimal XRowDataAmount = XRowData.Amount.BaseCurrencyAmount.Amount;
            decimal YRowDataAmount = YRowData.Amount.BaseCurrencyAmount.Amount;
            if (XRowDataAmount < YRowDataAmount)
            {
                return -1;
            }
            else if (XRowDataAmount > YRowDataAmount)
            {
                return 1;
            }
            else
            {
                return 0;
            }
        }
    }
}