@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.Model.Interfaces
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.UkTaxModel
@using InvestmentTaxCalculator.Model.UkTaxModel.Stocks
@using InvestmentTaxCalculator.Enumerations
@using InvestmentTaxCalculator.Components
@using InvestmentTaxCalculator.Services
@inherits TaxCalculationRefreshComponentBase

@inject TradeCalculationResult tradeCalculationResult

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Matching Details</h3>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-secondary mb-0">
                The additional information can be edited to add your comments.
            </div>
        </div>
    </div>

    <div class="row me-3">
        <div class="col">
            <RadzenDataGrid @ref="tradeMatchesGrid" TItem="TradeMatch" Data="@_tradeMatches"
                            AllowPaging="true" PageSize="25" PageSizeOptions="@_pageSizeOptions"
                            AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Advanced"
                            AllowColumnResize="true" class="w-100">
                <Columns>
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.Date)" Title="Disposal Date" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.AssetTypeDescription)" Title="Asset Type" Sortable="false" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.AssetName)" Title="Asset Name" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.TradeMatchTypeDescription)" Title="Match Type" Sortable="false" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.IsTaxable)" Title="Taxable" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="TradeMatch" Title="Acquisition trade ID" Sortable="false">
                        <Template Context="data">@data.MatchedBuyTrade?.Id</Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="TradeMatch" Title="Disposal trade ID" Sortable="false">
                        <Template Context="data">@data.MatchedSellTrade?.Id</Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.MatchAcquisitionQty)" Title="Matched Acquisition Quantity" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.MatchDisposalQty)" Title="Matched Disposal Quantity" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.BaseCurrencyMatchDisposalProceed)" Title="Disposal Proceed" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.BaseCurrencyMatchAllowableCost)" Title="Allowable Cost" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.MatchGain)" Title="Gain" />
                    <RadzenDataGridColumn TItem="TradeMatch" Property="@nameof(TradeMatch.AdditionalInformation)" Title="Additional Information" Width="320px">
                        <Template Context="data">
                            <RadzenTextBox @bind-Value="data.AdditionalInformation" class="w-100" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    private RadzenDataGrid<TradeMatch>? tradeMatchesGrid;
    private List<TradeMatch> _tradeMatches = [];
    private readonly int[] _pageSizeOptions = { 25, 50, 100 };

    protected override void RefreshData()
    {
        _tradeMatches = tradeCalculationResult.CalculatedTrade
            .Where(trade => trade.AcquisitionDisposal == TradeType.DISPOSAL)
            .SelectMany(trade => trade.MatchHistory)
            .ToList();
    }

    protected override Task RefreshRenderedGridsAsync() => RefreshGridAsync(tradeMatchesGrid);
}
