@using InvestmentTaxCalculator.Model
@using InvestmentTaxCalculator.ViewModel
@using InvestmentTaxCalculator.Model.Interfaces
@using InvestmentTaxCalculator.Model.TaxEvents
@using InvestmentTaxCalculator.Model.UkTaxModel
@using InvestmentTaxCalculator.Enumerations
@using InvestmentTaxCalculator.Components
@using InvestmentTaxCalculator.Services
@inherits TaxCalculationRefreshComponentBase

@inject UkSection104Pools section104Pools

<div class="bg-dark text-light">
    <div class="row my-4">
        <div class="col">
            <h3>Section 104 history</h3>
        </div>
    </div>
    <div class="row me-3">
        <div class="col">
            <RadzenDataGrid @ref="section104HistoryGrid" TItem="Section104HistoryViewModel" Data="@_section104HistoryViewModels"
                            AllowPaging="true" PageSize="25" PageSizeOptions="@_pageSizeOptions"
                            AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Advanced"
                            AllowColumnResize="true" class="w-100">
                <Columns>
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.AssetName)" Title="Asset Name" FilterMode="FilterMode.CheckBoxList" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.TradeId)" Title="Trade ID" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.Date)" Title="Date" FormatString="{0:d}" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.OldQuantity)" Title="Old Quantity" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.QuantityChange)" Title="Quantity Change" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.NewQuantity)" Title="New Quantity" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.OldValue)" Title="Old Value" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.ValueChange)" Title="Value Change" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.NewValue)" Title="New Value" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.OldContractValue)" Title="Old Contract Value" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.ContractValueChange)" Title="Contract Value Change" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.NewContractValue)" Title="New Contract Value" />
                    <RadzenDataGridColumn TItem="Section104HistoryViewModel" Property="@nameof(Section104HistoryViewModel.Explaination)" Title="Explaination" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

@code {
    private RadzenDataGrid<Section104HistoryViewModel>? section104HistoryGrid;
    private List<Section104HistoryViewModel> _section104HistoryViewModels = [];
    private readonly int[] _pageSizeOptions = { 25, 50, 100 };

    protected override void RefreshData()
    {
        _section104HistoryViewModels = Section104HistoryViewModel
            .GetSection104Data(section104Pools)
            .Where(x => x is not null)
            .Select(x => x!)
            .ToList();
    }

    protected override Task RefreshRenderedGridsAsync() => RefreshGridAsync(section104HistoryGrid);
}
