@using Syncfusion.Blazor.Buttons
@using System.Collections.ObjectModel;
@using ViewModel
@using ViewModel.Options;
@using Syncfusion.Blazor.DropDowns
@using Services

@inject StartCalculationViewModel startCalculationViewModel
@inject CalculationResultSummaryViewModel calculationResultSummaryViewModel
@inject YearOptions yearOptions;

<h3><p>Calculation</p></h3>

<SfButton @onclick="startCalculationViewModel.OnStartCalculation"> Start Calculation </SfButton>

<p>Select Year to display/Export:</p>
<SfMultiSelect @bind-Value="yearOptions.SelectedOptions" Placeholder="Select Years" Mode="VisualMode.CheckBox"
    ShowSelectAll=true SelectAllText="Select All" UnSelectAllText="Unselect All" DataSource="@yearOptions.Options">
    <MultiSelectFieldSettings Text="Years" Value="Years"></MultiSelectFieldSettings>
</SfMultiSelect>

<h3><p>Tax Summary:</p></h3>

<p>Number of disposals: @calculationResultSummaryViewModel.NumberOfDisposals</p>
<p>Total Disposal Proceed: @calculationResultSummaryViewModel.DisposalProceeds.ToBaseCurrencyString()</p>
<p>Total Allowable Cost: @calculationResultSummaryViewModel.AllowableCosts.ToBaseCurrencyString()</p>
<p>Total Gain: @calculationResultSummaryViewModel.TotalGain.ToBaseCurrencyString()</p>
<p>Total Loss: @calculationResultSummaryViewModel.TotalLoss.ToBaseCurrencyString()</p>
<p>Total Dividend: @calculationResultSummaryViewModel.TotalDividends.ToBaseCurrencyString()</p>
<p>Total Foreign Witholding Tax Paid: @calculationResultSummaryViewModel.TotalForeignTaxPaid.ToBaseCurrencyString()</p>
